* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square_selected {
    background-color: lightblue;
}

.square:focus {
    outline: none;
}

.board-row {
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.board {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.game-info {
    display: flex;
    /* border: 1px solid blue; */
}

.captured-column {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border: 1px solid green;
}

.piece {
    border: 1px solid red;
}

.column-title {
    display: flex;
}